{% extends "base.html" %}

{% block title_head %}Acerca del Estudio{% endblock title_head %}
{% block header_h1 %}Acerca del Estudio{% endblock header_h1 %}
{% block content %}
    <p class='text-center'> 
        Ubicado en el corazón de Palermo, "Estudio de Belleza" es el destino perfecto para quienes buscan embellecer sus uñas y realzar la mirada con pestañas espectaculares. 
    </p>
    <p class='text-center'>
        Este estudio ofrece un ambiente acogedor y profesional, donde cada cliente recibe atención personalizada y servicios de alta calidad.
    </p>
    <p class='text-center'>
        Desde manicuras y pedicuras con diseños creativos hasta extensiones de pestañas que destacan la belleza natural de los ojos, "Estudio de Belleza" se ha ganado una reputación impecable en la comunidad. Utilizando productos de primera calidad y técnicas innovadoras, el equipo de expertos garantiza resultados duraderos y un acabado impecable.
        Ya sea para una ocasión especial o simplemente para consentirse, "Estudio de Belleza" es la elección ideal para quienes desean un toque de glamour y elegancia en su rutina de belleza.
    </p>
{% endblock content %} 