{% extends "base.html" %}

{% block title_head %}Detalle Servicio{% endblock title_head %}
{% block header_h1 %}Detalle del Servicio{% endblock header_h1 %}

{% block content %}
    <ul>
        <li>Servicio: {{servicio.nombre}} </li>
        <li>Precio: $ {{servicio.precio}} </li>
        <li>Tiempo: {{servicio.tiempo}} </li>
        <li>Descripcion: {{servicio.descripcion}} </li>
        <li>Fecha de creación: {{servicio.fecha_creacion}} </li>
    </ul>

    <a class="link-secondary" href={% url "listar_servicios" %}>Volver</a>
{% endblock content %} 
