{% extends "base.html" %}

{% block title_head %}Lista Servicios{% endblock title_head %}

{% block search_form %}
    <form action="">
        {{ formulario }}
        <input type="submit" value="Buscar">
    </form>
{% endblock search_form %}

{% block header %}Servicios ofrecidos{% endblock header %}

{% block content %}

     <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% if servicios %}
                        {% for servicio in  servicios%}

                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ servicio.nombre }}</h5>
                                            <!-- Product price-->
                                            ${{ servicio.precio }}
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a class="btn btn-outline-dark mt-auto" href={% url "detalle_servicio" servicio.id %}>Ver detalles</a>
                                            <a class="btn btn-outline-dark mt-auto" href={% url "editar_servicio" servicio.id %}>Editar</a>
                                            <a class="btn btn-outline-dark mt-auto" href={% url "eliminar_servicio" servicio.id %}>Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        No hay servicios
                    {% endif %}
                </div>
            </div>
        </section>
{% endblock content %} 