{% extends "base.html" %}

{% block title_head %}Lista Servicios{% endblock title_head %}

{% block search_form %}
    <form action="">
        {{ formulario }}
        <input type="submit" value="Buscar">
    </form>
{% endblock search_form %}

{% block header %}Servicios ofrecidos{% endblock header %}

{% block content %}
    {% if servicios %}
    <ul>
        {% for servicio in  servicios%}
            <li> {{servicio}}</li>
        {% endfor %}
    </ul>
    {% else %}
        No hay servicios
    {% endif %}
{% endblock content %} 